.headline {
  color: white;
  font-size: 4rem;
  margin: 7rem 0 1rem;
  text-align: center;
}

.textBlock1 {
  height: 200px;
  background-color: transparent;
  color: white;
  width: 70%;
  margin: 13rem auto;
}

.intro {
  font-size: 2rem;
}

.textBlock2 {
  height: 500px;
  background-color: transparent;
  color: white;
  width: 70%;
  margin: 5rem auto;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
}

.fadeIn {
  opacity: 0.1;
  animation: fade-in 4s forwards;
}

/* .textBlock3 {
  height: 8300px;
} */

@keyframes fade-in {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.contact {
  background-color: grey;
  color: black;
  font-size: 7rem;
  text-align: center;
  height: 300px;
}

@media (min-width: 0px) and (max-width: 500px) {
  .headline {
    font-size: 2.5rem;
    margin: 4rem 0 1rem;
  }

  .textBlock1 {
    height: 200px;
    width: 90%;
    margin: 7rem auto;
  }

  .intro {
    font-size: 1rem;
  }

  .textBlock2 {
    height: 500px;
    width: 90%;
    line-height: 2;
  }

  .fadeIn {
    font-size: 0.7rem;
  }
}
