.nav {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
}

.nav > div {
  position: absolute;
  height: 0.2rem;
  width: 3rem;
}

.upline {
  background-color: white;
  top: 2rem;
  transform: rotate(0);
  transition: all 0.3s ease-out;
}

.downline {
  background-color: white;
  top: 3rem;
  transform: rotate(0);
  transition: all 0.3s ease-out;
}

.upOn {
  background-color: black;
  top: 2.5rem;
  transform: rotate(45deg);
}

.downOn {
  background-color: black;
  top: 2.5rem;
  transform: rotate(-45deg);
}

@media (min-width: 0px) and (max-width: 500px) {
  .nav > div {
    width: 2rem;
    left: 1rem;
  }

  .upline {
    top: 2rem;
  }

  .downline {
    top: 2.5rem;
  }

  .upOn,
  .downOn {
    top: 2.25rem;
  }
}
