.card {
  overflow: hidden;
}

.card img {
  object-fit: contain;
  width: 100%;
  height: 75%;
  background-color: white;
  border: 0.5px solid white;
  display: block;
}

.onScale {
  transform: scale(1.5);
}

.info {
  color: white;
  margin-top: 1rem;
}

.info h3 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

.info p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

@media (min-width: 0px) and (max-width: 500px) {
  .card img {
  object-fit: cover;
  height: 55%;
  background-color: white;
  border: 0.5px solid white;
  display: block;
}
.info p {
  font-size: .8rem;
}
}